# SERVER PARAMETERS
HOST=<server host>
PORT=<server port>

# POSTGRESQL DATABASE PARAMETERS
DB_DATASOURCE=GppDataSource
DB_HOST=<database host>
DB_PORT=<database port>
DB_USER=<database user>
DB_PWD=<database password>
DB_NAME=<database name>

# ICONS DIMENSIONS
ICON_HEIGHT=48
ICON_WIDTH=48
MARKER_HEIGHT=37
MARKER_WIDTH=32

# ENCRYPT MAGIC SALT
SALT=<encrypt salt>

# GLOBAL PASSPORT PROJECT OPERATOR KEY
GPP_REGISTRATION_KEY=<gpp operator registration key>

# IPFS
IPFS_GATEWAY=<ipfs gateway>

# SENDGRID
SENDGRID_API_KEY=<sendgrid api key>

# PORTAL
PORTAL_URL=<portal url>

# SAWROOM CONFIGURATION
SAWROOM_WRITE_URI=<sawroom write url>
SAWROOM_READ_URI=<sawroom read url>
APIROOM_BASE_URI=<apiroom base url>
APIROOM_WRITE_DICTIONARY_PATH=<apiroom write dictionary path>
APIROOM_READ_PATH=<apiroom read path>

# FANTOM CONFIGURATION
FANTOM_RPC_ENDPOINT=<fantom rpc endpoint>
FANTOM_CONTRACT_ADDRESS=<fantom contract address>
FANTOM_WALLET_PRIVATE_KEY=<fantom wallet private key>

# BACKEND CREDENTIALS
BACKEND_PRIVATE_KEY=<backend private key>
BACKEND_PUBLIC_KEY=<backend public key>
BACKEND_PASSWORD=<backend password>

# CHANGE HERE TO OVERRIDE THE CONTRACTS
# SERVER_SIDE_CONTRACT=<zenroom server side contract>
# CLIENT_SIDE_CONTRACT=<zenroom client side contract>

# CHANGE HERE TO OVERRIDE FOLDER OR FILENAME default: prop/questions-en_GB.json
QUESTION_FOLDER=<question folder>
QUESTION_FILE_PREPEND=<question file prepend>

# ADMINISTRATOR E-MAILS
ADMIN_EMAILS=<admin emails separated by comma>

# CONFIRM ACCOUNT E-MAIL
CONFIRM_ACCOUNT_EMAIL_FROM_EMAIL=<sender e-mail>
CONFIRM_ACCOUNT_EMAIL_FROM_NAME=<sender name>
CONFIRM_ACCOUNT_EMAIL_SUBJECT=<confirm account email subject> | params: %firstName%, %lastName%
CONFIRM_ACCOUNT_EMAIL_TEXT=<confirm account email plain text> | params: %firstName%, %lastName%, %confirmationLink%
CONFIRM_ACCOUNT_EMAIL_HTML=<confirm account email html text>  | params: %firstName%, %lastName%, %confirmationLink%

# RESET PASSWORD E-MAIL
RESET_PASSWORD_EMAIL_FROM_EMAIL=<sender e-mail>
RESET_PASSWORD_EMAIL_FROM_NAME=<sender name>
RESET_PASSWORD_EMAIL_SUBJECT=<reset password email subject> | params: %firstName%, %lastName%
RESET_PASSWORD_EMAIL_TEXT=<reset password email plain text> | params: %firstName%, %lastName%, %resetPasswordLink%
RESET_PASSWORD_EMAIL_HTML=<reset password email html text>  | params: %firstName%, %lastName%, %resetPasswordLink%

# CONFIRM RESET PASSWORD E-MAIL
CONFIRM_RESET_PASSWORD_EMAIL_FROM_EMAIL=<sender e-mail>
CONFIRM_RESET_PASSWORD_EMAIL_FROM_NAME=<sender name>
CONFIRM_RESET_PASSWORD_EMAIL_SUBJECT=<confirm reset password email subject> | params: %firstName%, %lastName%
CONFIRM_RESET_PASSWORD_EMAIL_TEXT=<confirm reset password email plain text> | params: %firstName%, %lastName%
CONFIRM_RESET_PASSWORD_EMAIL_HTML=<confirm reset password email html text>  | params: %firstName%, %lastName%

# CHANGE PASSWORD E-MAIL
CHANGE_PASSWORD_EMAIL_FROM_EMAIL=<sender e-mail>
CHANGE_PASSWORD_EMAIL_FROM_NAME=<sender name>
CHANGE_PASSWORD_EMAIL_SUBJECT=<change password email subject> | params: %firstName%, %lastName%
CHANGE_PASSWORD_EMAIL_TEXT=<change password email plain text> | params: %firstName%, %lastName%
CHANGE_PASSWORD_EMAIL_HTML=<change password email html text>  | params: %firstName%, %lastName%

# INVITATION E-MAIL
INVITATION_EMAIL_FROM_EMAIL=<sender e-mail>
INVITATION_EMAIL_FROM_NAME=<sender name>
INVITATION_EMAIL_SUBJECT=<invitation email subject> | params: %firstName%, %lastName%
INVITATION_EMAIL_TEXT=<invitation email plain text> | params: %firstName%, %lastName%, %organizationName%, %invitationMessage%, %invitationLink%
INVITATION_EMAIL_HTML=<invitation email html text>  | params: %firstName%, %lastName%, %organizationName%, %invitationMessage%, %invitationLink%

# INVITATION CONFIRMED E-MAIL
INVITATION_CONFIRMED_EMAIL_FROM_EMAIL=<sender e-mail>
INVITATION_CONFIRMED_EMAIL_FROM_NAME=<sender name>                       
INVITATION_CONFIRMED_EMAIL_SUBJECT=<invitation email subject>            | params: %firstName%, %lastName%
INVITATION_CONFIRMED_EMAIL_TEXT=<invitation confirmed email plain text>  | params: %firstName%, %lastName%, %organizationName%
INVITATION_CONFIRMED_EMAIL_HTML=<invitation confirmed email html text>   | params: %firstName%, %lastName%, %organizationName%

# REMOVED FROM ORGANIZATION E-MAIL
REMOVED_FROM_ORGANIZATION_EMAIL_FROM_EMAIL=<sender e-mail>
REMOVED_FROM_ORGANIZATION_EMAIL_FROM_NAME=<sender name>
REMOVED_FROM_ORGANIZATION_EMAIL_SUBJECT=<removed from organization email subject>  | params: %firstName%, %lastName%
REMOVED_FROM_ORGANIZATION_EMAIL_TEXT=<removed from organization email plain text>  | params: %firstName%, %lastName%, %organizationName%
REMOVED_FROM_ORGANIZATION_EMAIL_HTML=<removed from organization email html text>   | params: %firstName%, %lastName%, %organizationName%

# SET AS ADMIN E-MAIL
ADMIN_CONFIRMED_EMAIL_FROM_EMAIL=<sender e-mail>
ADMIN_CONFIRMED_EMAIL_FROM_NAME=<sender name>
ADMIN_CONFIRMED_EMAIL_SUBJECT=<set as admin email subject>  | params: %firstName%, %lastName%
ADMIN_CONFIRMED_EMAIL_TEXT=<set as admin email plain text>  | params: %firstName%, %lastName%
ADMIN_CONFIRMED_EMAIL_HTML=<set as admin email html text>   | params: %firstName%, %lastName%

# REMOVE AS ADMIN E-MAIL
ADMIN_REMOVED_EMAIL_FROM_EMAIL=<sender e-mail>
ADMIN_REMOVED_EMAIL_FROM_NAME=<sender name>
ADMIN_REMOVED_EMAIL_SUBJECT=<remove as admin email subject>  | params: %firstName%, %lastName%
ADMIN_REMOVED_EMAIL_TEXT=<remove as admin email plain text>  | params: %firstName%, %lastName%, %organizationName%
ADMIN_REMOVED_EMAIL_HTML=<remove as admin email html text>   | params: %firstName%, %lastName%

# SEND MESSAGE TO STRUCTURE E-MAIL
STRUCTURE_MESSAGE_EMAIL_FROM_EMAIL=<sender e-mail>
STRUCTURE_MESSAGE_EMAIL_FROM_NAME=<sender name>
STRUCTURE_MESSAGE_EMAIL_SUBJECT=<send message to structure email subject>  | params: %userEMail%
STRUCTURE_MESSAGE_EMAIL_TEXT=<send message to structure email plain text>  | params: %userEMail%, %message%
STRUCTURE_MESSAGE_EMAIL_HTML=<send message to structure email html text>   | params: %userEMail%, %message%

# SEND STRUCTURE REQUEST PUBLICATION E-MAIL
STRUCTURE_REQUEST_PUBLICATION_EMAIL_FROM_EMAIL=<sender e-mail>
STRUCTURE_REQUEST_PUBLICATION_EMAIL_FROM_NAME=<sender name>
STRUCTURE_REQUEST_PUBLICATION_EMAIL_SUBJECT=<send structure request publication email subject>  | params: %structureName%
STRUCTURE_REQUEST_PUBLICATION_EMAIL_TEXT=<send structure request publication email plain text>  | params: %structureName%
STRUCTURE_REQUEST_PUBLICATION_EMAIL_HTML=<send structure request publication email html text>   | params: %structureName%

# SEND STRUCTURE PUBLISHED E-MAIL
STRUCTURE_PUBLISHED_EMAIL_FROM_EMAIL=<sender e-mail>
STRUCTURE_PUBLISHED_EMAIL_FROM_NAME=<sender name>
STRUCTURE_PUBLISHED_EMAIL_SUBJECT=<send structure published email subject>  | params: %structureName%
STRUCTURE_PUBLISHED_EMAIL_TEXT=<send structure published email plain text>  | params: %structureName%
STRUCTURE_PUBLISHED_EMAIL_HTML=<send structure published email html text>   | params: %structureName%

# SEND STRUCTURE REJECTED E-MAIL
STRUCTURE_REJECTED_EMAIL_FROM_EMAIL=<sender e-mail>
STRUCTURE_REJECTED_EMAIL_FROM_NAME=<sender name>
STRUCTURE_REJECTED_EMAIL_SUBJECT=<send structure rejected email subject>  | params: %structureName%
STRUCTURE_REJECTED_EMAIL_TEXT=<send structure rejected email plain text>  | params: %structureName%, %rejectionReason%
STRUCTURE_REJECTED_EMAIL_HTML=<send structure rejected email html text>   | params: %structureName%, %rejectionReason%
