# SERVER PARAMETERS
HOST=<server host>
PORT=<server port>

# POSTGRESQL DATABASE PARAMETERS
DB_DATASOURCE=<database datasource>
DB_HOST=<database host>
DB_PORT=<database port>
DB_USER=<database user>
DB_PWD=<database password>
DB_NAME=<database name>
